{%extends 'books/base_booksapp.html'%}

{%block title%}
Book add
{%endblock%}

{%block content%}
<h1>Добавить книгу</h1>
    <form action="{%url 'book_info_create_url'%}" method="post">
        {%csrf_token%}
        {%for field in form%}
        <div class="form-group">
            {%if field.errors%}
                <div class="alert alert-danger">
                    {{field.errors}}
                </div>
            {%endif%}
            {{field.label}}
            {{field}}

        </div>
        {%endfor%}
        <button class="btn btn-primary" type="submit">Добавить автора</button>
    </form>
{% endblock %}